h1 {
    font-size: 24px; 
    font-weight: bold; 
    color: rgb(63, 5, 34); 
     }
     h2 {
      font-size: 18px; 
    font-weight: bold; 
    color: rgb(94, 36, 71);
    text-align: center;
     }
     .column{
      max-width: 900px;
      margin: auto;
     }
    .common{
      float: left;
      width: 100%;
    }
    .left-part {
    margin: 0;
    float: left;
    width: 200px;
    margin-left: 25px
    }
    .right-part {
    margin: 0;
    float: left;
    margin-left: 150px;
    }