.banner_1__container {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(/fe-46-yarmak/exit_project/images/banner_1.svg);
  min-height: 1024px;
  background-size: cover;
}

.banner_1__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}
.banner_1__text-part {
  display: flex;
  flex-direction: column;
  width: 58%;
  padding-left: 170px;
}
.banner_1__form-part {
  display: flex;
  flex-direction: column;
  width: 42%;
  padding-right: 170px;
}
.banner_1__button {
  margin-bottom: 185px;
  margin-top: 21px;
  display: flex;
  align-items: center;
}
.banner_1__download-button {
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #ffffff;
  height: 57px;
  width: 270px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.banner_1__download-button:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
  transition-duration: 0.5s;
}
.banner_1__title {
  max-width: 670px;
  min-height: 168px;
  margin-top: 25px;
  margin-bottom: 55px;
}
.banner_1__title h1 {
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}
.banner_1__description {
  max-width: 270px;
  max-height: 42px;
  margin-top: 42px;
  margin-bottom: 21px;
}
.banner_1__description h5 {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
}
.banner_1__icon {
  margin-top: 283px;
  margin-bottom: 25px;
}
.banner_1__form-area {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 470px;
  min-height: 450px;
}
.banner_1__form-title {
  min-height: 90px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.banner_1__form-title h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #333333;
}
.banner_1__form-area form {
  display: flex;
  flex-direction: column;
}
.banner_1__form-fields {
  height: 177px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}
.banner_1__form-fields input[type="text"]::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #bdbdbd;
}

.banner_1__form-fields input[type="text"] {
  border: 2px solid transparent;
  color: #ec7979;
  outline: none;
  padding: 0;
  border-bottom: 1px solid #bdbdbd;
  min-height: 35px;
}
.banner_1__form-fields-button {
  width: 100%;
  padding-top: 81px;
}
.banner_1__form-fields-download-button {
  background-color: #ec7979;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: none;
  height: 57px;
  width: 100%;
  padding: 0;
  text-transform: capitalize;
  border-radius: 0px 0px 10px 10px;
}

.banner_1-free {
  color: #ec7979;
}

@media (max-width: 1454px) {
  .banner_1__form-part {
    padding-right: 20px;
  }
}
@media (max-width: 1254px) {
  .banner_1__text-part {
    padding-left: 115px;
  }
}
@media (max-width: 1024px) {
    .banner_1__container{
        min-height: 800px;
    }
  .banner_1__icon {
    margin-top: 136px;
    margin-bottom: 19px;
  }
  .banner_1__title h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .banner_1__title {
    margin-top: 18px;
    margin-bottom: 41px;
  }
  .banner_1__description h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .banner_1__description {
    margin-top: 31px;
    margin-bottom: 15px;
  }
  .banner_1__form-title h4 {
    font-size: 18px;
    line-height: 25px;
  }
  .banner_1__download-button {
    font-size: 18px;
    line-height: 25px;
  }
  .banner_1__button {
    margin-bottom: 131px;
    margin-top: 15px;
  }
  .banner_1__form-fields-download-button {
    font-size: 15px;
    line-height: 20px;
  }
  .banner_1__form-fields input[type="text"]::placeholder {
    font-size: 14px;
    line-height: 19px;
  }
  .banner_1__form-fields input[type="text"] {
    font-size: 14px;
    line-height: 19px;
  }
}
@media (max-width: 750px) {
  .banner_1__text-part {
    padding-left: 55px;
    width: 50%;
    padding-right: 10px;
  }
  .banner_1__form-part {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .banner_1__container {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 50%
      ),
      url(/fe-46-yarmak/exit_project/images/banner_1-mob.svg);
    min-height: 1005px;
    background-size: cover;
  }
  .banner_1__icon {
    display: none;
  }
  .banner_1__wrapper {
    flex-direction: column;
    margin: 0 15px;
  }
  .banner_1__text-part {
    padding: 0;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .banner_1__form-part {
    padding: 0;
  }
  .banner_1__form-area{
max-width: 100%;
  }
  .banner_1__title {
    margin-top: 140px;
    margin-bottom: 44px;
  }
  .banner_1__description {
    margin-top: 42px;
    margin-bottom: 21px;
  }
  .banner_1__button {
    margin-bottom: 56px;
    margin-top: 21px;
    justify-content: center;
  }
  .banner_1__form-title{
    margin-bottom: 0;
  }
  .banner_1__form-area{
    min-height: 381px;
  }
  .banner_1__form-part{
    width: 100%;
    margin-bottom: 50px;
  }
  .banner_1__form-fields-button{
    padding-top: 57px;
  }
}
@media (max-width: 400px){
    .banner_1__title h1 {
        font-size: 30px;
        line-height: 36px;
      }
      .banner_1__form-title h4 {
        font-size: 14px;
        line-height: 19px;
      }
      .banner_1__button{
        width: 100%;
      }
      .banner_1__form-fields{
        padding: 0 20px 0 20px;
      }
      .banner_1__form-area form {
        padding: 0;
      }
}

@media (max-width: 200px){
    .banner_1__title h1 {
        font-size: 22px;
        line-height: 28px;
      }
      .banner_1__form-title h4{
        font-size: 12px;
        line-height: 16px;
      }
      .banner_1__download-button{
        font-size: 16px;
        line-height: 19px;
      }
      .banner_1__form-fields{
        padding: 0;
      }
}