.separator{
    display: flex;
    width: 170px;
    align-items: center;
    margin: auto;
}

.separator__white{
    border-top: 1px solid #FFFFFF;
}

.separator__red{
    border-top: 1px solid #EC7979;
}

.line{
    width: 570px;
    height: 3px;
    align-items: center;
    margin: 0 auto;
    border-top: 1px solid #BDBDBD;
}