@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url(./about.css);
@import url(./banner.css);
@import url(./contact.css);
@import url(./pricing.css);
@import url(./reset.css);
@import url(./tabs.css);

.separator{
    display: flex;
    width: 170px;
    align-items: center;
    margin: auto;
}

.separator_white{
    border-top: 1px solid #FFFFFF;
}

.separator_red{
    border-top: 1px solid #EC7979;
}

body{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
}