.pricing{
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
}

.pricing__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.pricing__header{
    padding-top: 50px;
}
.pricing__title h2{
    align-items: center;
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

h2{    
font-size: 36px;
line-height: 42px;
}

.separator{
    display: flex;
    border-top: 1px solid #EC7979;
    width: 170px;
    align-items: center;
    margin: auto;
}

.pricing__description h5{    
color: #86878B;
margin-top: 40px;
align-items: center;
text-align: center;
max-height: 21px;
}

h5{
font-size: 18px;
line-height: 21px;
margin: 0;
}

.pricing__options{
    padding-top: 79px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    width: 1170px;
}

.pricing__option{
    list-style-type: none;
    width: 370px; 
    flex-direction: column;
    display: flex;
  justify-content: space-between;
  margin: 0 auto;

}

  .pricing__option-title {
    background: #333333;
border: 2px solid #F5F5F5;
Height: 60px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
  }

  .pricing__option-price{
    background: #333333;
border: 2px solid #F5F5F5;
Height: 100px;
font-weight: 700;
font-size: 36px;
line-height: 42px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
  }

  .pricing__option-duration{
    background: #333333;
border: 2px solid #F5F5F5;
Height: 50px;
font-size: 18px;
line-height: 21px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: rgba(255, 255, 255, 0.5);
  }

  .pricing__option-footer li {
    background: #FFFFFF;
border: 2px solid #F5F5F5;    
height: 50px;
    font-size: 18px;
line-height: 21px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #86878B;
  }