.tabs {
  display: flex;
  margin: auto;
  max-width: 1510px;
}
.tabs__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 99px;
  width: 100%;
}
.tabs__wrapper {
  width: 100%;
  padding: 0 170px;
}
.tabs__radio {
  display: none;
}
.tabs__items {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.tabs__item {
  cursor: pointer;
  border: none;
  color: #333333;
  height: 40px;
  width: 205px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs__content {
  max-width: 1170px;
  border: 1px solid #c6cbcd;
  display: none;
}

#one:checked ~ .tabs__items #tab-one,
#two:checked ~ .tabs__items #tab-two,
#three:checked ~ .tabs__items #tab-three {
  border-top: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
  border-bottom: 1px solid white;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  z-index: 10;
}

#one:checked ~ .tabs__all-content #content-one,
#two:checked ~ .tabs__all-content #content-two,
#three:checked ~ .tabs__all-content #content-three {
  display: flex;
  justify-content: center;
}

.tabs__content-image img {
  height: 100%;
  object-fit: cover;
}
.tabs__content-text {
  width: 570px;
  margin-right: 30px;
  margin-left: 100px;
}

.tabs__content-title h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  min-height: 124px;
  justify-content: center;
  text-align: center;
}
.tabs__content-description {
  padding-top: 27px;
}

.tabs__content-description h5 {
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: left;
  min-height: 210px;
  justify-content: center;
}

.tabs__download-button {
  background-color: #ec7979;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #ffffff;
  height: 58px;
  width: 270px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 27px;
}
.tabs__download-button:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
  background-color: #ffffff;
  transition-duration: 0.5s;
}
@media (max-width: 1250px) {
  .tabs__content-text {
    margin-left: 84px;
  }
  .tabs__wrapper {
    padding: 0 100px;
  }
}

@media (max-width: 1024px) {
  .tabs__wrapper {
    padding: 0 16px;
  }
  .tabs__item {
    width: 172px;
    font-size: 14px;
    line-height: 19px;
  }
  .tabs__content-title h3 {
    font-size: 24px;
    line-height: 33px;
    min-height: 89px;
  }
  .tabs__content-description h5 {
    font-size: 14px;
    line-height: 16px;
    min-height: 112px;
  }
  .tabs__content-text {
    width: 480px;
    margin-right: 26px;
  }
  .tabs__download-button {
    width: 231px;
  }
  .tabs__content {
    height: 100%;
  }
  .tabs__content-image img {
    max-height: 386px;
  }
  #one:checked ~ .tabs__all-content #content-one,
  #two:checked ~ .tabs__all-content #content-two,
  #three:checked ~ .tabs__all-content #content-three {
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  .tabs__content-image img {
    max-height: 100%;
  }
  .tabs__content-text {
    margin-left: 35px;
  }
}
@media (max-width: 550px) {
  .tabs__content-image {
    display: none;
  }
  .tabs__content-description h5 {
    text-align: center;
  }
  .tabs__content-button {
    display: flex;
    justify-content: center;
  }
  .tabs__content-text {
    margin-left: 24px;
    margin-right: 20px;
  }
}
@media (max-width: 320px) {
  .tabs__item {
    width: 102px;
    height: 40px;
  }
  .tabs__content-title h3 {
    font-size: 18px;
    line-height: 25px;
    min-height: 112px;
  }
  .tabs__content-description h5 {
    font-size: 13px;
    line-height: 15px;
    min-height: 180px;
  }
  .tabs__content-text {
    margin-right: 26px;
  }
  .tabs__download-button {
    width: 242px;    
  }
  .tabs__download-button{
    margin-top: 29px;
    margin-bottom: 30px;
  }
  #one:checked ~ .tabs__all-content #content-one,
  #two:checked ~ .tabs__all-content #content-two,
  #three:checked ~ .tabs__all-content #content-three {
    justify-content: center;
  }
}
@media (max-width: 300px){
  .tabs__download-button {
    width: 100%;    
  }
}